*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100dvh;
  background-color: antiquewhite;

  display: flex;
  justify-content: center;
  align-items: center;
}

#main-content {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  scroll-behavior: initial;

  display: flex;
}

.slide {
  position: relative;
  padding: 2%;
  width: 100%;
  height: 100%;

  flex-shrink: 0;

  background-color: bisque;
  border: 2px solid black;
}

.question {
  font-size: 4rem;
  line-height: 4rem;
  white-space: initial;
}

.answer {
  margin: 0.5rem 0;
  font-size: 2rem;
  white-space: initial;
}

.images {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#timer {
  height: 100%;
  line-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  vertical-align: middle;

  color: rgba(0, 0, 0, 0.15);
  z-index: 9999;

  pointer-events: none;
}
